<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GenevaMonitoringAgent" version="45.4.3" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.10" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.10" targetFramework="net472" />
  <package id="Microsoft.ServiceFabric.Geneva" version="8.3.1704.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net472" />
</packages>